<%= paginate @videos, theme: "twitter-bootstrap-4",
                   pagination_class: "pagination-sm",
                   nav_class: "d-inline-b"
                   %>

<% @videos.map do |video| %>
  <div class="row">
    <div class="col-lg-12 col-xl-6">
      <iframe src="<%= video.embed_url %>"
         width="560" height="315" frameborder="0" allowfullscreen>
      </iframe>
    </div>

    <div class="col-lg-12 col-xl-6">
      <h4 class="title"><%= video.title %></h4>
      <p> Shared by <%= video.user.email %> </p>
      <p> Description: <%= video.description %> </p>
      <p> 
        <span class="count-like-<%= video.id %>"><%= video.count_like %></span>

        <span class="like-<%= video.id %>">
          <%= render "shared/emotions/like", video: video %>
        </span>

        &nbsp;
        <span class="count-dislike-<%= video.id %>"><%= video.count_dislike %></span>
        <span class="dislike-<%= video.id %>">
          <%= render "shared/emotions/dislike", video: video %>
        </span>
      </p>
    </div>
  </div>
<% end %>

<%= paginate @videos, theme: "twitter-bootstrap-4",
                   pagination_class: "pagination-sm",
                   nav_class: "d-inline-b"
                   %>
