<header class="row">
  <div class="col-lg-12 col-xl-4 logo">
    <span class="fa fa-home fa-2xl lh-40"></span>
    &nbsp;
    <h1> FUNNIES MOVIES </h1>
  </div>

  <div class="col-lg-12 col-xl-8">
    <div class="right-nav">
      <% if current_user %>
        Welcome <%= current_user.email %>
        &nbsp;
        <button class="btn btn-dark">Share A Movie </button>
        &nbsp;
        <%= link_to t(".logout"), destroy_user_session_path, class: "btn btn-dark", method: :delete %>
      <% else %>
        <%= form_for(@user, url: user_session_path, remote: true, html: { id: :user_signin } ) do |f| %>
          <%= f.email_field :email, autofocus: true, id: :user_signin_email, placeholder: "Email" %>

          <%= f.password_field :password, id: :user_signin_password, placeholder: "Password" %>
          <%= f.submit "Login/Register", class: "btn btn-dark" %>
        <% end %>
      <% end %>
    </div>
    <div id="error-message-session"></div>
  </div>

  <hr />
</header>
